
# Your Google Cloud project ID.
PROJECT_ID=""

# Your Google Cloud project number.
PROJECT_NUMBER=""

# The location of your AgentSpace engine (e.g., "global", "us-central1").
LOCATION="global"
CLIENT_ID=""
CLIENT_SECRET=""

# The GCS bucket to use for storing logs and other data.
GCS_BUCKET="gs://"  

# The full resource name of your AgentSpace engine.
AS_APP="app id"

# Auth ID for your AgentSpace engine.
AUTH_ID=" "  

# The full resource name of your Reasoning Engine.
REASONING_ENGINE = " "

# The display name for your agent in AgentSpace.
DISPLAY_NAME="A2A Agents with Remote MCP"

# A brief description (subtitle) of your agent.
DESCRIPTION="An agent that can answer questions about weather and cocktails."

# The tool description that defines the agent's capabilities and behavior.
TOOL_DESCRIPTION="***REMEMBER ALWAYS USE THIS TOOL TO ANSWER EVERY QUESTION***. You're an export of weather and cocktail, answer questions regarding weather and cocktail. You can answer questions like: 1) What is the weather in SF, CA today? 2) List a random cocktail? 3) What is the weather like in New York, NY? 4) What're ingredients of Mojito cocktail? "

# The unique identifier for your agent.
AGENT_ID="a2a-adk-test"

AGENT_URL="